<h1>Mutations</h1>
<hr />
<div class="row">
  <div class="col-6">
    <input
      (input)="(onFieldUpdated('email', txtEmail.value))"
      type="text"
      class="form-control mb-2"
      [value]="user().email"
      #txtEmail
    />
    <input
      (input)="(onFieldUpdated('first_name', txtFirstName.value))"
      type="text"
      class="form-control mb-2"
      [value]="user().first_name"
      #txtFirstName
    />
    <input
      (input)="(onFieldUpdated('last_name', lastName.value))"
      type="text"
      class="form-control mb-2"
      [value]="user().last_name"
      #lastName
    />
  </div>

  <div class="col-6">
    <pre>{{user() | json}}</pre>
  </div>
</div>
